<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0" xmlns:android   = "http://schemas.android.com/apk/res/android" id = "com.hardeep.arastestt" versionCode = "70" version   = "1.0.71">
<name>PhoneGapConfigExample</name>
<preference name="phonegap-version" value="3.0.0" />
</widget>